<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Group Details</title>
  <link rel="stylesheet" href="/css/group.css">


  <script src="/js/groups.js" defer></script>
  <script src="/js/venue.js" defer></script>
  <script src="/js/votes.js" defer></script>
</head>
<body>
    <div id="app">
        <div class="sidebar">
            <!-- Include menu.ejs for sidebar navigation -->
            <%- include('menu') %>
        </div>

        <div class="content">

            <section class="big-container">
                <span class="title">
                <h1><span><%=groupName%></span></h1>
                        <span>
                            <button class="blue" onclick="showRenameGroupPopup('<%= groupId %>','<%= groupName %>')">
                                <img src="/icons/rename.png" alt="Rename" class="white-icon">
                            </button>
                            <button class="red" onclick="showDeleteGroupPopup('<%= groupId %>')">
                                <img src="/icons/delete.png" alt="Delete" class="white-icon">
                            </button>
                        </span>
                </span>
                <hr>
                <section class="members">
                    <span class="title">
                        <h2>Members</h2>
                        <button class="green" onclick="showAddMemberPopup('<%= groupId %>')">
                            <img src="/icons/plus.png" alt="Add" class="white-icon">
                        </button>
                    </span>
                    <ul>
                        <% if (members && members.length > 0) { %>
                        <% members.forEach(member => { %>
                            <li class="member-item">
                            <span><strong><%= member.name %> <%= member.surname %></strong></span>
                            <span>
                                <span class="role badge badge-<%= member.role === 0 ? 'founder' : member.role === 1 ? 'moderator' : 'member' %>">
                                    <b><%= member.role === 0 ? 'Founder' : member.role === 1 ? 'Moderator' : 'Member' %>
                                    </b>
                                </span>
                                <% if (member.role !== 0) { %> <!-- Ukrywamy przyciski dla Adminów -->
                                <span>
                                <button class="blue" onclick="showChangeRolePopup('<%= member.memberId %>', '<%= member.role %>')">
                                    <img src="/icons/settings.png" alt="Add" class="white-icon">
                                </button>
                                <button class="red" onclick="showRemoveMemberPopup('<%= member.memberId %>')">
                                    <img src="/icons/minus.png" alt="Add" class="white-icon">
                                </button>
                                </span>
                                <% } %>
                            </span>
                            
                            </li>
                        <% }) %>

                        <% } else { %>
                        <li>No members in this group.</li>
                        <% } %>
                    </ul>
                </section>
                <section class="events">
                <span class="title"><h2>Upcoming Event</h2>
                    <button class="green" onclick="showAddEventPopup('<%= groupId %>')">
                        <img src="/icons/plus.png" alt="Add" class="white-icon">
                    </button></span>
                
                <ul>
                    <% if (events && events.length > 0) { %>
                    <% events.forEach(event => { %>
                        <li class="event-item">
                        <div class="event-details" id=<%=event.eventId.value%>
                            <!-- Status wydarzenia w formie graficznym -->
                            <div class="event-status">
                                <div class="phase <%= event.eventStatus === 0 ? 'active' : '' %>">Inviting</div>
                                <div class="phase <%= event.eventStatus === 1 ? 'active' : '' %>">Planning</div>
                                <div class="phase <%= event.eventStatus === 2 ? 'active' : '' %>">Ongoing</div>
                                <div class="phase <%= event.eventStatus === 3 ? 'active' : '' %>">Complete</div>
                            </div>
                            <strong><h2><%= event.name %></h2></strong>
                            <span>Description: <i><%= event.description %></i></span><br>
                            <span> <% if (event.venue && event.venue.venueId) { %>
                                    <span class="venue-selected">
                                        ✅ Place: <strong><%= event.venue.name %></strong> - <%= event.venue.location %>
                                    </span>
                                <% } else { %>
                                    <span class="venue-not-selected">
                                        ❌ Place: No venue selected yet.
                                    </span>
                                <% } %>
                            </span><br> <% 
                                let formattedStartDate = "Not set"; 
                                let startDateString = `❌ Start Date: ${formattedStartDate}` 
                                if (event.startDate && !isNaN(new Date(event.startDate).getTime()) &&  event.startDate != '2010-01-01T01:00:00+01:00') { 
                                    const startDateObj = new Date(event.startDate);
                                    const invalidDate = new Date("2010-01-01T01:00:00Z");
                            
                                    if (startDateObj.getTime() !== invalidDate.getTime()) {
                                        formattedStartDate = startDateObj.toLocaleString();
                                    }
                                    startDateString = `✅ Start Date: ${formattedStartDate}`
                                }
                            %>
                            
                            <span> <%= startDateString %></span><br>
                            </span><br>
                            <% if (phaseId == 1) { %> 
                                                                                
                                <% if (event.proposedVenues && event.proposedVenues.length > 0) { %>
                                    <h3>Proposed Venues</h3>
                                    <ul>
                                        <% event.proposedVenues.forEach(venue => { %>
                                            <li class="event-item">
                                                <span><strong><%= venue.name %></strong> - <%= venue.location %></span>

                                                <% events.forEach(event => { %>
                                                    <div >
                                                        <% if (event.votingResults && Object.keys(event.votingResults).length > 0) { %>
                                                            <% Object.values(event.votingResults).forEach(votingResult => { %>
                                                                <% if (votingResult.venueId && votingResult.venueId.value === venue.id.value ) { %>
                                                                    <span>
                                                                        <button class="red" onclick="upVote('<%= event.eventId.value %>', '<%= votingResult.venueId.value %>')">
                                                                            <img src="/icons/upVote.png" alt="Upvote" class="white-icon">
                                                                        </button>
                                                                        <button class="red" onclick="downVote('<%= event.eventId.value %>', '<%= votingResult.venueId.value %>')">
                                                                            <img src="/icons/downVote.png" alt="Downvote" class="white-icon">
                                                                        </button>
                                                                        <button class="blue" onclick="selectVenueForEvent('<%= event.eventId.value %>', '<%= venue.id.value %>')">
                                                                            <img src="/icons/select.png" alt="Select" class="white-icon">
                                                                        </button>
                                                                    </span>
                                                                    <% if (votingResult.negativeVotes != 0 || votingResult.positiveVotes != 0) { %>
                                                                    <div class="voting-bar">
                                                                        <div class="voting-bar-green" style="width: <%= votingResult.positivePercentage %>%;"></div>
                                                                        <div class="voting-bar-red" style="width: <%= 100 - votingResult.positivePercentage %>%;"></div>
                                                                    </div>
                                                                    <% } else { %>
                                                                        <div class="voting-bar-green" style="width:100%;"></div>
                                                                    <% } %>
                                                                    <div class="voting-results">
                                                                        <span>Yes: <%= votingResult.positiveVotes %></span>
                                                                        <span>No: <%= votingResult.negativeVotes %></span>
                                                                    </div>
                                                                <% } %>
                                                                
                                                            <% }) %>

                                                        <% } else { %>
                                                            <p>No voting results available.</p>
                                                        <% } %>
                                                    </div>
                                                <% }) %>
                                            
                                        <% }) %>
                                    </ul>
                                <% } else { %>                          
                                        <span><strong>There are no venues available for voting.</strong></span>
                                <% } %>   
                            
                            <% } %>
                            <br>
                            <% if (true) { %>
                                <span>
                                    
                                <button class="red" onclick="showDeleteEventPopup('<%= event.eventId.value %>')">
                                    <img src="/icons/delete.png" alt="Delete" class="white-icon">
                                </button>
                                </span>
                             <% } %>
                            <span>
                                <button class="red" onclick="showMoveEventPopup('<%= event.eventId.value %>')">
                                    <img src="/icons/nextPhase.png" alt="Go to next phase" class="white-icon">
                                </button>
                            </span>

                            <% if (phaseId == 2) { %> 
                            <button class="green" onclick="showBestMeetingTimePopup('<%= groupId %>', '<%= event.eventId.value %>')">
                                <img src="/icons/calendar.png" alt="Find Best Meeting Time" class="white-icon">
                            </button>
                            <% } %>
                        
                        <% }) %>
                    <% } else { %>
                <li>No events for this group.</li>
                
                <% } %>
            </li>
        </li>
    </div>
    </ul>
    </section>
        </section>
            <section class="small-container">
                <section class="venues">
                    <span class="title">
                        <h2>Venues in group</h2>
                        <button class="green" onclick="showAddVenuePopup('<%= groupId %>')">
                            <img src="/icons/plus.png" alt="Add" class="white-icon">
                        </button>
                    </span>
                    <ul id="venue-list">
                        <% venues.forEach(venue => { %>
                        <li class="event-item">
                            <span><strong><%= venue.name %></strong> <br> <%= venue.location %></span>
                            <span>
                                <% if (phaseId == 1) { %>   
                                <button class="blue" onclick="proposeVenueForEvent('<%= eventId %>', '<%= venue.id.value %>')">
                                    <img src="/icons/select.png" alt="Select" class="white-icon">
                                </button>
                                <% } %>
                                <button class="blue" onclick="showCopyVenuePopup('<%= venue.id.value %>', '<%= groupId %>')">
                                    <img src="/icons/move.png" alt="Move" class="white-icon">
                                </button>
                                <button class="red" onclick="showDeleteVenuePopup('<%= venue.id.value %>')">
                                    <img src="/icons/delete.png" alt="Delete" class="white-icon">
                                </button>
                            </span>
                        </li>
                        <% }) %>
                    </ul>
                </section>

                <section class="History">
                <h2>History</h2>
                <% if (historyEvents.length === 0) { %>
                    <p>No historical events available.</p>
                  <% } else { %>
                    <ul>
                      <% historyEvents.forEach(event => { %>
                        <li class="event-item">
                          <div class="event-details" id="<%= event.id.value %>">
                            <strong><h2><%= event.name %></h2></strong>
                            <span>Description: <i><%= event.description %></i></span><br>
                            <span>
                              <% if (event.venueName && event.venueLocation) { %>
                                <span class="venue-selected">
                                  Place: <strong><%= event.venueName %></strong> - <%= event.venueLocation %>
                                </span>
                              <% } else { %>
                                <span class="venue-not-selected">
                                  Place: No venue selected.
                                </span>
                              <% } %>
                            </span><br>
                            <% const date = event.completedDate.toLocaleString().split(".")[0].split("T")  
                                const outputDate = `${date[0]} ${date[1]}`%>
                              <span>Completed Date: <%= outputDate %></span><br>
                            <br>
                          </div>
                        </li>
                      <% }) %>
                    </ul>
                  <% } %>
                </section>
            </section>
        </div>
    </div>  
</body>
</html>
