<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<script src="/js/popup.js" defer></script>
<script src="/js/auth.js" defer></script>
<script src="/js/createGroups.js" defer></script>
<link rel="stylesheet" href="/css/popup.css">

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const redirectAlert = getCookie('redirectAlert');
      if (redirectAlert) {
        alert(decodeURIComponent(redirectAlert)); // 🔹 Dekodowanie treści ciasteczka
        document.cookie = "redirectAlert=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"; // 🔹 Usunięcie ciasteczka
      }
    });
  
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }
  </script>
  
  


<!-- Pop-up -->
<div id="popup-overlay" class="hidden"></div>

<div id="popup-window" class="hidden"> 
    <button id="popup-close">&#10006;</button>
    <h2 id="popup-title">Popup Title</h2>
    <p id="popup-content">Popup content goes here...<br></p>
    <div id="popup-buttons">
        <button id="popup-ok" class="btn-ok">OK</button>
        <button id="popup-cancel" class="btn-cancel">Cancel</button>
    </div>
</div>




<aside class="sidebar">
    <h2>Meetio</h2>
    <nav>
        <ul>
            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/availability"><i class="fas fa-calendar-alt"></i> Availability</a></li>
        </ul>
    </nav>

    <section class="groups-section">
        <h3>Groups</h3>
        <ul class="groups-list">
            <% groups.forEach(group => { %>
                <li><a href="/groups/<%= group.id.value %>/view"><i class="fas fa-users"></i> <%= group.name %></a></li>
            <% }) %>
            <%  if (cookies.userId) { %>
            <a href="#" onclick="addNewGroup()"><i>Add New Group...</i></a>
            <% } %>
        </ul>
    </section>

    <!-- Logowanie lub Profil użytkownika -->
    <div class="profile">
        <%  if (cookies.userId) { %>
            <strong>Logged as: <%= cookies.userName %> <%= cookies.userSurname %>  
                <span><button class="red" onclick="logout()">
                <img src="/icons/logout.png" alt="Delete" class="white-icon">
            </button></span></p></strong>
            <i><%= cookies.userEmail %> </i>
           

        <% } else { %>
            <a href="#" onclick="showLoginPopup()">Login</a><br><br>
            <a href="#" onclick="showRegisterPopup()">Register</a>
        <% } %>
        
    </div>
    
    
    
</aside>
